@import 'styles/variables.scss';

.SearchBar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50px;

  > .searchbar-input {
    border: none;
    font-size: 12px;
    width: 100%;

    &::placeholder {
      color: $color-grey;
    }

    &:focus {
      outline: none;
    }
  }

  > .searchbar-icon {
    color: $color-grey;
  }
}
